<h1> About Us </h1>
<article>
<p>LHL student Nikhil started Jungle because there was a need for quirky gift ideas.</p>

<p>That’s why we created this with the help of LHL.</p>

<p>Along the way, there were many hurdles and roadblocks, but we made it.</p>

<p>We want to be your GO-TO for gift ideas.</p>
</article>